

.App {
  position: fixed;
  bottom: 0px;
  right: 0px;
  left: 0px;
  top: 0px;
  background-color: green;
}

nav {
  height: 100px;
  background-color: aqua;
}

section {
  height: 100%;
  min-height: 600px;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: blueviolet;
}

.sidebar {
  width: 20%;
  background-color: aquamarine;
}

.story-block {
  width: 60%;
  min-width: 400px;
}